body {
   /*background-color: #bebebe;*/
   background-color: #fff;
   font: 400 1.2em/1.38 sans-serif;
   /*color: #fff;*/
}

a {
   display: block;
   margin: 18px 0px;
   text-align: center;
   color: #1ab1ed;
}

a:hover {
   color: #717171;
}

input[type='text'] {
   width: 100%;
   border-bottom: solid #000 1px;
   text-align: center;
}

.climate-bg {
   display: flex;
   align-items: center;
   height: 80px;
   background-color: #001836;
}
.weathericon {
   margin: auto;
   width: 60px;
}
.container {
   text-align: center;
   max-width: 260px;
   margin: auto;
}
.not-available,
.failed {
   position: absolute;
   top: 464px;
   left: 0;
   right: 0;
   width: 248px;
   min-height: 24px;
   margin: 0 auto;
   font: 0.625em/1.38 'Trebuchet MS';
   color: rgb(0, 0, 0);
}
.location {
   padding-top: 10px;
   font-size: 1.313em;
   font-weight: 400;
   text-transform: uppercase;
}
.temperature {
   margin-bottom: -16px;
   font-size: 4.25em;
   font-weight: 700;
}
.info_bg {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin-bottom: 34px;
   background-color: #c6c6c6;
}
.humidity {
   font-size: 1em;
   margin-right: 10px;
}
.dropicon {
   width: 40px;
   margin-left: -8px;
}
.windicon {
   margin-left: 10px;
   display: block;
   width: 60px;
   height: 60px;
}
.windspeed {
   font-size: 1em;
}
.error {
   color: #ff2000;
   font-size: 0.8em;
}
