body {
   background-color: #bebebe;
   font: 400 1.2em/1.38 sans-serif;
   color: #fff;
}

a {
   display: block;
   margin: 18px 0px;
   text-align: left;
   color: #323232;
}
a:hover{
   color: #1ab1ed;
}
input[type='text'] {
   width: 100%;
   padding: 14px;
   background: none;
   border-bottom: solid #fff 1px;
}

input[type='text']:hover{
   background: gray;
}

input[type='text']:focus
   background: gray;
}

input[type='text']:focus::-webkit-input-placeholder { color:transparent; }
input[type='text']:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input[type='text']:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input[type='text']:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input[type='text']::-webkit-input-placeholder {
   color: #fff;
}

input[type='text']:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

input[type='text']::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

input[type='text']:-ms-input-placeholder {  
   color: #fff;  
}

.climate-bg {
   background-color: rgb(255, 255, 255);
}

.weathericon {
   display: block;
   margin: auto;
   width: 260px;
   height: auto;
}

.container {
   text-align: center;
   max-width: 260px;
   margin: auto;
}

.not-available,
.failed {
   position: absolute;
   top: 464px;
   left: 0;
   right: 0;
   width: 248px;
   min-height: 24px;
   margin: 0 auto;
   font: 0.625em/1.38 'Trebuchet MS';
   color: rgb(0, 0, 0);
}

.location {
   padding-top: 10px;
   font-size: 1.313em;
   font-weight: 400;
   text-transform: uppercase;
}

.temperature {
   font-size: 4.25em;
   font-weight: 700;
}

.info_bg {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin-bottom: 10px;
   background-color: #1ab1ed;
}

.humidity {
   font-size: 1em;
   margin-right: 10px;
}

.dropicon {
   width: 40px;
   margin-left: -8px;
}

.windicon {
   margin-left: 10px;
   display: block;
   width: 60px;
   height: 60px;
}

.windspeed {
   font-size: 1em;
}

.error {
   color: #ff2000;
}
