body {
   background-color: #bebebe;
   font: 400 1em/1.38 Montserrat;
   color: #fff;
}

a {
   color: #fff;
}
a:hover{
   color: grey;
}

.climate-bg {
   /*height: 149px;*/
   background-color: rgb(255, 255, 255);
}

.weathericon {
   display: block;
   margin: auto;
   width: 260px;
   height: auto;
}

.container {
   text-align: center;
   max-width: 260px;
   margin: auto;
}

.not-available,
.failed {
   position: absolute;
   top: 464px;
   left: 0;
   right: 0;
   width: 248px;
   min-height: 24px;
   margin: 0 auto;
   font: 0.625em/1.38 'Trebuchet MS';
   color: rgb(0, 0, 0);
}

.location {
   padding-top: 10px;
   font-size: 1.313em;
   font-weight: 400;
   text-transform: uppercase;
}

.temperature {
   font-size: 4.25em;
   font-weight: 700;
}

.info_bg {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin-bottom: 10px;
   background-color: #1ab1ed;
}

.humidity {
   font-size: 1em;
   margin-right: 10px;
}

.dropicon {
   width: 40px;
   margin-left: -8px;
}

.windicon {
   margin-left: 10px;
   display: block;
   width: 60px;
   height: 60px;
}

.windspeed {
   font-size: 1em;
}
